// 1. Variables personnalisées
$theme-colors: (
    "primary": #7b2cbf,
    // violet
    "secondary": #f554bb,
    // rose
    "success": #944ccf,
    "danger": #ee03a0,
    "warning": #fca5d6,
    "info": #c78bef,
    "light": #fceff9,
    "dark": #2a003f,
);

//QUESTIONNAIRE
input[type="checkbox"]:checked {
    accent-color: map-get($theme-colors, "primary");
}
input[type="checkbox"] {
    accent-color: map-get($theme-colors, "primary");
}

//AUDIO
#play {
    fill: map-get($theme-colors, "primary");
    &:hover {
        fill: map-get($theme-colors, "warning");
        &:active {
            box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3); // ombre interne pour enfoncement
            transform: translateY(1px); // léger déplacement vers le bas
        }
    }
}
//ALL
body,
p {
    font-family: "Poiret One", sans-serif; /* narration par défaut */
    font-size: 18px;
}

.title,
h2,
h3,
h5 {
    font-family: "Cinzel Decorative", serif;
}

.author {
    font-family: "Princess Sofia", cursive;
}

/* Aliénor */
.aliénor {
    font-family: "Dekko", cursive;
}

/* Nova */
.nova {
    font-family: "Oxanium", sans-serif;
}

.modal-body a {
    text-decoration: none;
}
// 2. Import de Bootstrap après la personnalisation
@import "../node_modules/bootstrap/scss/bootstrap";
